<template>
  <div>
    <el-dialog
      title="Tips"
      :visible.sync="isShow"
      width="30%"
      :before-close="handleClose"
      :show-close="false"
      :close-on-click-modal="false"
    >
      <button
        type="button"
        class="el-dialog__headerbtn"
        aria-label="Close"
        @click="noClick"
      >
        <i class="el-dialog__close el-icon el-icon-close"></i>
      </button>
      <span>This is a message</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="yesClick">Cancel</el-button>
        <el-button type="primary" @click="noClick">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dialogVisible: false
    };
  },
  props: {
    isShow: {
      type: Boolean,
      default: false
    },
    yesClick: {
      type: Function,
      default: () => {}
    },
    noClick: {
      type: Function,
      default: () => {}
    }
  },
  methods: {
    handleClose(done) {
      done();
    }
  }
};
</script>
<style>
</style>