<template> 
  <div class="hello container">
    <h1>{{ msg }}</h1>
    <el-button type="text" @click="dialogVisible = true" >click to open the Dialog</el-button>
    <Dialog :isShow="dialogVisible" :yesClick="yesClick" :noClick="noClick"></Dialog>
    <Table :theData="tableData" :fields="fields" :handleDbClick="handleDbClick" :rowKey="rowKeys"></Table>
  </div>
</template>

<script>
import Dialog from './Dialog.vue';
import Table from './Table';
export default {
  name: 'HelloWorld',
  components: {
    Dialog,
    Table
  },
  data(){
    return {
      dialogVisible: false,
      tableData: [
        {
          id: 1,
          date: "2016-05-03",
          name: "Tom",
          address: "No. 189, Grove St, Los Angeles",
          action: 0
        },
        {
          id: 2,
          date: "2016-05-02",
          name: "Tom",
          address: "No. 189, Grove St, Los Angeles",
          action: 0
        },
        {
          id: 3,
          date: "2016-05-04",
          name: "Tom",
          address: "No. 189, Grove St, Los Angeles",
          action: 1
        },
        {
          id: 4,
          date: "2016-05-01",
          name: "Tom",
          address: "No. 189, Grove St, Los Angeles",
          action: 0
        },
      ],
      fields: ["id","date","name","address"]
    }
  },
  props: {
    msg: String,

  },
  methods: {
    yesClick(){
      this.dialogVisible = false
    },
    noClick(){
      this.dialogVisible = false
    },
    handleDbClick(row){
      console.log(row);
    },
    rowKeys(row){
      console.log(row.id);
    }
  },
  created(){
    this.fields.push("action");
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
