<template>
  <el-table
    :data="theData"
    style="width: 100%"
    empty-text="emptyText"
    @row-dblclick="handleDbClick"
    :row-key="rowKey"
  >
    <el-table-column
      v-for="(value, index) in fields"
      :key="index"
      :prop="value"
      :label="value"
    >
      <slot name="action" v-if="value == 'action'">
        
        <el-dropdown split-button type="primary">
          ...
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item @click="resolveAction1">Action 1</el-dropdown-item>
            <el-dropdown-item @click="resolveAction2">Action 2</el-dropdown-item>

          </el-dropdown-menu>
        </el-dropdown>
      </slot>
    </el-table-column>
  </el-table>
</template>

<script>
export default {
  data() {
    return {
      emptyText: "---",
      what: "<h1>hello world</h1>",
    };
  },
  props: {
    theData: {
      type: Array,
      default: [],
    },
    fields: {
      type: Array,
      default: [],
    },
    handleDbClick: {
      type: Function,
      required: true,
      default: () => {},
    },
    resolveAction1: {
        type: Function,
        default: () => {}
    },
    resolveAction2: {
        type: Function,
        default: () => {}
    },
    rowKey: {
        type: Function,
        default: () => {},
       
    }
  },
  methods: {
    checkAction(i) {
      if (this.theData[i] == 1) return true;
      return false;
    },
    DbClick(row, column, event) {
      console.log(row, column, event);
      console.log("what the fuck");
    },
    rowKeys(row){
        console.log(row.id);
    }
  },
};
</script>
